.footer
{
    background-color: rgb(36, 59, 59);
}
.grid
{
    background-color: rgb(36, 59, 59) !important;
    color: white !important;
   
}
.remli{
    list-style-type: none;
    
}
.head{
   margin-left: 15px !important;
}
.icons
{
    margin:20 0;
    color:white;
    letter-spacing: 10px;
    word-spacing: 10px;
}
